<h1>All songs</h1>

<% @songs.each do |song| %>
  Song title: <%= song.title %>
  <br></br>
  Artist: <%= song.artist_name %>
  <br></br>
  Genre: <%= song.genre.name %>
  <br></br>
  Notes:
    <% song.notes.each do |note| %>
      <li><%= note.content %></li>
    <% end %>
  <br>
  **********************
  <br>
<% end %>
